<ng-container>

  <mat-toolbar class="header mat-elevation-z3">

    <div class="o-flexbox o-flex-1 u-h-full o-flex-align-items-center">
      <button mat-button>Menu</button>
      <a href="#" class="brand-logo">
        <img src="assets/images/logo.png" class="logo">
      </a>
    </div>

    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li class="relative-pos">
        <a mat-button>
          Bienvenido 
        </a>

      </li>
    </ul>

  </mat-toolbar>

  <mat-sidenav-container>

    <mat-sidenav>
    </mat-sidenav>

    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>

  </mat-sidenav-container>

</ng-container>

<div class="loading-overlay" [hidden]="!isLoading()">
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</div>